{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Vehiculo</th>
                <th>Dias</th>
                <th>Costorenta</th>
                <th>Fecharenta</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td><a href="{{ path('reserva_show', { 'id': reserva.id }) }}">{{ reserva.id }}</a></td>
                <td>{{ reserva.usuario }}</td>
                <td>{{ reserva.vehiculo }}</td>
                <td>{{ reserva.dias }}</td>
                <td>{{ reserva.costoRenta }}</td>
                <td>{% if reserva.fechaRenta %}{{ reserva.fechaRenta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reserva.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reserva_show', { 'id': reserva.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
